cryptosystem/CryptoClient/Service References/CryptoService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CryptoLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CryptoLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57777/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SimpleSubstitution">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iv" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SpecArguments" nillable="true" type="q1:ArrayOfKeyValueOfstringbase64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleSubstitution" nillable="true" type="tns:SimpleSubstitution" />
  <xs:complexType name="Knapsack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Im" type="xs:int" />
      <xs:element minOccurs="0" name="Iv" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="M" type="xs:int" />
      <xs:element minOccurs="0" name="N" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PrivateKeyInt" nillable="true" type="q2:ArrayOfint" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PublicKeyInt" nillable="true" type="q3:ArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SpecArguments" nillable="true" type="q4:ArrayOfKeyValueOfstringbase64Binary" />
      <xs:element minOccurs="0" name="proba" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Knapsack" nillable="true" type="tns:Knapsack" />
  <xs:complexType name="XXTEA">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iv" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NewIV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SepcArguments" nillable="true" type="q5:ArrayOfKeyValueOfstringbase64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XXTEA" nillable="true" type="tns:XXTEA" />
  <xs:complexType name="SHA2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iv" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SpecArguments" nillable="true" type="q6:ArrayOfKeyValueOfstringbase64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHA2" nillable="true" type="tns:SHA2" />
</xs:schema>